$backgroud-pink: #FFB8CA;
$subtitle-text-pink: #FFA5BA;
$plain-text: #000000;
$title-text-and-btn-red: #D41443;
$title-text-and-btn-white: #fff;
$btn-white: #fff;
$btn-white-hover: #ECEBEB;
$btn-red-hover: #C7133E;
$color-contakts-and-descriptions: #907E82;

