$main-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;

$main-background-color: rgb(255, 184, 202);
$secondary-background-color: rgb(229, 229, 229);
$third-background-color: rgb(255, 245, 246);
$hamburger-background-color: rgb(225, 121, 146);

$header-circle-color: rgb(255, 165, 186);

$main-font-color: rgb(255, 255, 255);
$secondary-font-color: rgb(212, 20, 67);
$third-font-color: rgb(255, 165, 186);
$dark-font-color: rgb(0, 0, 0);
$description-secondary-color: rgb(144, 126, 130);

$products-secondary-background: rgb(240, 209, 165);
$products-third-background: rgb(194, 226, 151);

$reviews-background: rgb(250, 250, 250);
$reviews-dot-color: rgb(217, 217, 217);