<section class="about" id="about">
    <label class="about__label">
        tradition and love
    </label>
    <h1 class="about__title">
        how it's made?
    </h1>
    <div class="about-section">
    <p class="about-section__text about-section__text--important">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor.<br>
        Nam vel justo cursus, faucibus lorem eget, egestas eros.<br>
        Maecenas eleifend erat at justo fringilla.
    </p>
    <p class="about-section__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio<br>
        elementum. Mauris rhoncus orci in imperdiet placerat.<br>
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna<br>
        maximus. Cras massa nibh, tincidunt.<br><br>
        Aliquam erat volutpat. Aenean accumsan.
    </p>
    <button class="about-section__btn">Read more</button>
    </div>
</section>