<header class="header">
      <div class="container">
        <img
          src="./images/header/img.jpg"
          alt="Logo w kształcie loda"
          class="logo"
          width="199"
          height="50"
        />

        <div class="hamburger-menu">
          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>

        <div class="navbar">
          <nav class="navigation">
            <ul class="navigation__list">
              <li class="navigation__item">
                <a class="navigation__link navigation_link--active" href="#"
                  >Home</a
                >
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#">About us</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#">How it’s made?</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#">Our products</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#">Contact</a>
              </li>
            </ul>

            <button class="navigation__button" type="button">
              Buy now
              <svg class="navigation__button-icon" width="5.26" height="8">
                <use href="./images/icons.svg#icon-navigation__button-icon"></use>
              </svg>
            </button>
          </nav>
        </div>
      </div>
    </header>