  <section class="hero">
        <div class="container">
          <div class="hero__left-side">
            <h1 class="hero__title">
              <span class="title1"> ice cream made with</span>
              <span class="title2"> passion </span>
            </h1>

            <button class="hero_button hero_button-products" type="button">
              <a href="#">Products</a>
            </button>
            <button class="hero_button hero_button-how" type="button">
                <a href="#">How it’s made?</a>
            </button>

            <img src="" 
            alt="Dzban mleka" 
            class="hero__milk" 
            >
            <p class="hero__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>

            <button class="hero__button-text" type="button">
                <img src="../images/hero/button-icon.jpg" 
                alt="Czerwona strzałka"
                width="26"
                height="26">
            </button>
          </div>


          <img src="../images/hero/mobile/img.jpg" alt="" class="hero__ice-cream" />

          <div class="hero__right-side">
            <ul class="hero__list">
              <li class="hero__list-item">
                <ul class="hero__list-inside">
                  <li class="hero__list-inside-item hero__number">16</li>
                  <li class="hero__list-inside-item">cafes</li>
                </ul>
              </li>

              <li class="hero__list-item">
                <ul class="hero__list-inside">
                  <li class="hero__list-inside-item hero__number">23</li>
                  <li class="hero__list-inside-item">food trucks</li>
                </ul>
              </li>
            </ul>

            <img src="" alt="" class="hero__lady" />
          </div>
        </div>
      </section>