<section class="products">
    <div class="products__header">
    <p class="products__subtitle"> 100% NATURAL</p>
    <h3 class="products__title"> PRODUCTS </h3>
    </div>
    <div class="products__wrapper">
        <ul class="products__list">
            <li class="products__item products__item--1">
                <h3 class="products__name"> ICE CREAM</h3>
                <div class="products__decorative"></div>
                <p class="products__details">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et</p>
                    <img class="products__arrow" src="./images/arrow-right 4.png"> 
               
            </li>
            <li class="products__item products__item--2">
                <h3 class="products__name"> ICE COFFEE</h3>
                <div class="products__decorative"></div>
                <p class="products__details">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et</p>
                    <img class="products__arrow" src="./images/arrow-right 4.png"> 
            </li>
            <li class="products__item products__item--3">
                <h3 class="products__name"> MIKLSHAKES</h3>
                <div class="products__decorative"></div>
                <p class="products__details">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et</p>
                    <img class="products__arrow" src="./images/arrow-right 4.png"> 
            </li>
        </ul>
    </div>
</section>
