<section class="container shops" id="shops">    
      <div class="shops__wrapper">

        <ul class="shops__list">

          <li class="shops__item">
            <h3 class="shops__title shops--orange">CAFE</h3>
            <address class="shops__city">Chicago</address>
            <p class="shops__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <div class="shops-table">
              <div class="shops-table__workday">
                <p class="shops-table__day">Monday - Friday</p>
                <p class="shops-table__time">
                  <time>06:00</time> AM - <time>10:00</time> PM
                </p>
              </div>
              <div class="shops-table__workday">
                <p class="shops-table__day">Saturday - Sunday</p>
                <p class="shops-table__time">
                  <time>08:00</time> AM - <time>16:00</time> PM
                </p>
              </div>
            </div>
            <address class="shops-contacts">
              <a href="tel:+61(0)383766284">+61(0) 383 766 284</a><br />
              <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </address>
          </li>

          <li class="shops__item">
            <h3 class="shops__title shops--green">FOOD TRUCK</h3>
            <address class="shops__city">Los Angeles</address>
            <p class="shops__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <div class="shops-table">
              <div class="shops-table__workday">
                <p class="shops-table__day">Monday - Friday</p>
                <p class="shops-table__time">
                  <time>06:00</time> AM - <time>10:00</time> PM
                </p>
              </div>
              <div class="shops-table__workday">
                <p class="shops-table__day">Saturday - Sunday</p>
                <p class="shops-table__time">
                  <time>08:00</time> AM - <time>16:00</time> PM
                </p>
              </div>
            </div>
            <address class="shops-contacts">
              <a href="tel:+61(0)383766284">+61(0) 383 766 284</a><br />
              <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </address>
          </li>
          <li class="shops__item">
            <h3 class="shops__title shops--orange">CAFE</h3>
            <address class="shops__city">New York</address>
            <p class="shops__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <div class="shops-table">
              <div class="shops-table__workday">
                <p class="shops-table__day">Monday - Friday</p>
                <p class="shops-table__time">
                  <time>06:00</time> AM - <time>10:00</time> PM
                </p>
              </div>
              <div class="shops-table__workday">
                <p class="shops-table__day">Saturday - Sunday</p>
                <p class="shops-table__time">
                  <time>08:00</time> AM - <time>16:00</time> PM
                </p>
              </div>
            </div>
            <address class="shops-contacts">
              <a href="tel:+61(0)383766284">+61(0) 383 766 284</a><br />
              <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </address>
          </li>
        </ul>
        <ul class="shops-button-list">
          <li class="points-of-sale-button-list__item">
            <button
              class="button"
              type="button">
              <span class="button-title">Our Locations</span>
              <svg class="arrow" height="10" width="10">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </li>
          <li class="points-of-sale-button-list__item">
            <button
              class="button"
              type="button">
              <span class="button-title">Franchise</span>
              <svg class="arrow" height="10" width="10">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>    
  </section>