.products {
<<<<<<< Updated upstream
  max-width: 100%;
  margin: 0 auto;
  background-color: $main-background-color;
=======
  background-color: $third-background-color;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  max-width: 100%;

>>>>>>> Stashed changes

  @media screen and (max-width: 768px) {
    padding: 0 20px;
    min-width: 280px;
    max-width: 280px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    min-width: 768px;
    padding: 0 34px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    min-width: 1280px;
    padding: 0 112px;
  }

<<<<<<< Updated upstream
  &__sidetitle {
    color: getColor(decorative-secondary);
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 121px;
  }

  &__title {
    color: getColor(decorative);
    font-family: var(--secondary-font);
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
=======
  &__header {
    text-align: center;
  }

  &__subtitle {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: $third-font-color;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      font-size: 100px;
    }
  }

  &__title {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-transform: uppercase;
    color: $secondary-font-color;
>>>>>>> Stashed changes
    margin-bottom: 141px;

    @media screen and (min-width: 768px) {
      margin-bottom: 150px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 259px;
    }
  }

  &__list {
    list-style: none;
<<<<<<< Updated upstream
    display: flex;
    flex-direction: column;
    gap: 180px;
    margin-bottom: 98px;
=======
    display: block;
    margin: 0 auto;
>>>>>>> Stashed changes

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      margin-bottom: 112px;
    }

    @media screen and (min-width: 1280px) {
      justify-content: center;
      gap: 27px;
      margin-bottom: 119px;
<<<<<<< Updated upstream
    }
  }

  &__card {
    min-height: 484px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    background-color: getColor(bg-secondary);
    border-radius: 24px;

    &-two {
      background-color: getColor(accent-color-first);
    }

    &-three {
      background-color: getColor(accent-color-second);
    }

    &-title {
      padding-top: 161px;
      color: getColor(primary);
      font-family: var(--secondary-font);
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.04em;

      @media screen and (min-width: 768px) {
        padding-top: 151px;
      }
    }
  }
  &__text {
    max-width: 200px;
    color: getColor(primary);
    font-weight: bold;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
  }

  &__dots {
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;

    :after {
      position: absolute;
      left: 10px;
      display: block;
      content: '';
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: white;
    }

    :before {
      position: absolute;
      right: 10px;
      display: block;
      content: '';
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: white;
    }

    &-btn {
      padding-bottom: 41px;
    }
  }

  .product {
    &-1 {
      position: relative;
    }

    :before {
      content: url('/images/products/mobile/ice-cream.png');
      position: absolute;
      bottom: 45px;
      right: -60%;

      @media screen and (min-width: 768px) {
        content: url('./images/products/tablet/ice-cream.png');
        bottom: 45px;
        right: -50%;
      }

      @media screen and (min-width: 1280px) {
        content: url('./images/products/desktop/ice-cream.png');
        bottom: 45px;
        right: -100%;
      }
    }

    &-2 {
      position: relative;
    }

    :before {
      content: url('./images/products/mobile/ice-coffee.png');
      position: absolute;
      bottom: 45px;
      right: -40%;

      @media screen and (min-width: 768px) {
        content: url('./images/products/tablet/ice-coffee.png');
        bottom: 45px;
        right: -40%;
      }

      @media screen and (min-width: 1280px) {
        content: url('./images/products/desktop/ice-coffee.png');
        bottom: 45px;
        right: -90%;
      }
    }

    &-3 {
      position: relative;
    }
    :before {
      content: url('./images/products/mobile/milkshake.png');
      position: absolute;
      bottom: 45px;
      right: -30%;

      @media screen and (min-width: 768px) {
        content: url('./images/products/tablet/milkshake.png');
        bottom: 45px;
        right: -30%;
      }

      @media screen and (min-width: 1280px) {
        content: url('./images/products/desktop/milkshake.png');
        bottom: 45px;
        right: -70%;
      }
    }
  }
<<<<<<< Updated upstream
=======
      display: flex;
      flex-direction: row;
      column-gap: 20px;
    }
  }

  &__item {
    position: relative;
    margin: 130px auto 0px;
    width: 280px;
    height: 485px;
    background: #f0d1a5;
    border-radius: 24px;
    padding-top: 161px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
  }

  &__item--1 {
    background: $main-background-color;

    &::before {
      content: url('/images/mobile/products/ice-cream.png');
      position: absolute;
      bottom: 45px;
      top: -171px;
      right: 15px;
      background-color: unset;

      @media screen and (min-width: 768px) {
        content: url('/images/tablet/products/ice-cream.png');
        bottom: 45px;
        left: calc(50% - 110px);
      }

      @media screen and (min-width: 1280px) {
        content: url('/images/desktop/products/ice-cream.png');
        bottom: 45px;
        left: calc(50% - 167px);
      }
    }
  }

  &__item--2 {
    background: #f0d1a5;

    &::before {
      content: url('/images/mobile/products/ice-coffee.png');
      position: absolute;
      bottom: 45px;
      top: 90px;

  @media screen and (min-width: 768px) {
    content: url('/images/tablet/products/ice-coffee.png');
    bottom: 45px;
    left: calc(50% - 110px);
  }

  @media screen and (min-width: 1280px) {
    content: url('/src/images/desktop/products/ice-coffee.png');
    bottom: 45px;
    left: calc(50% - 167px);
    }
  }
  &__item--3 {
    background: #c2e297;

    &::before {
      content: url('/images/mobile/products/milkshakes.png');
      position: absolute;
      top: 90px;
      bottom: 45px;
      @media screen and (min-width: 768px) {
    content: url('/images/tablet/products/milkshakes.png');
    bottom: 45px;
    left: calc(50% - 110px);
  }

  @media screen and (min-width: 1280px) {
    content: url('/images/desktop/products/milkshakes.png');
    bottom: 45px;
    left: calc(50% - 167px);
  
    }
  }
}

  &__name {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $main-font-color;
  }

  &__details {
    margin: 66px auto 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    color: $main-font-color;
    width: 200px;
    height: 124px;
    margin-top: 30px;
  }

  &__arrow {
    margin: 0 auto;
  }

  &__decorative {
    margin: 0 auto;
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $main-font-color;
    margin-top: 30px;

    &::after {
      position: absolute;
      content: ' ';
      width: 6px;
      height: 6px;
      left: 20px;
      border-radius: 50%;
      background: $main-font-color;
    }
    &::before {
      position: absolute;
      content: ' ';
      width: 6px;
      height: 6px;
      left: -20px;
      border-radius: 50%;
      background: $main-font-color;
    }
  }
}
>>>>>>> Stashed changes
}
=======
}
>>>>>>> Stashed changes
